$white: #ffffff;
$black: #000000;
$red: #ff0000;
$light_tiffany: #63d1bb;
$super_light_tiffany: #59d5bc;
$tiffany: #56c3b2;
$dark_tiffany: #149080;
$mail_link_tiffany: #46c1ae;
$brown_border: #444444;
$pink_decoration: #f1f1f1;
$pink_decoration_line: #ececec;
