.catalog-main__title {
  display: block;
  width: 100%;
  height: 177px;
  text-align: center;
  padding: 60px 0;
  background-color: $pink_decoration;
  white-space: nowrap;
}

.product-card__list {
  @include ul-clear;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.product-card__item {
  margin-bottom: 20px;
}

.product-card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: $brown_border;
  padding-bottom: 25px;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }
}

.product-card__cost {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.product-card__buy {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.product-card__link {
  justify-self: center;
}

.production-video__wrapper {
  display: grid;
  grid-template-rows: contain contain contain contain;

  @media (min-width: $tablet-width) {
    grid-template-rows: 455px 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 163px 147px 1fr;
    grid-template-columns: 682px auto;
  }
}

.production-video__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
  padding-left: 91px;
  order: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-left: 108px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    padding-top: 100px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 23px;
    width: 40px;
    height: 30px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: -4px;
      left: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      left: 140px;
    }
  }
}

.production-video__play-button {
  width: 260px;
  height: 150px;
  object-fit: scale-down;
  background-image: url("../img/video-mobile@1x.jpg");

  &:hover {
    opacity: 0.6;
  }

  //contain: ;
}

.production-video__picture {
  font-size: 15px;
  position: relative;
  order: 2;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1 / 5;
    height: 455px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 38px;
    left: 83px;
    width: 95px;
    height: 72px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    &::before {
      top: 34px;
      left: 74px;
      width: 95px * 1.2;
      height: 72px * 1.2;
    }
  }

  &:active {
    &::before {
      top: 43px;
      left: 88px;
      width: calc(95px / 1.2);
      height: calc(72px / 1.2);
      opacity: 0.3;
    }
  }
}

//   &:hover {
// opacity: 0.1;
//   }

.production-video__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $brown_border;
  padding-bottom: 20px;
  order: 3;

  @media (min-width: $tablet-width) {
    padding-left: 42px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 252px;
    padding-left: 0;
    margin-left: 42px;
  }
}

.production-video__order-button {
  width: 100%;
  margin-bottom: 25px;
  order: 4;

  @media (min-width: $tablet-width) {
    width: calc(100% - 55px);
    margin-left: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-left: 42px;
    height: 52px;
  }
}

@media (min-width: $tablet-width) {
  .product-card__item_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .description_cost_wrapper {
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .product-card__item_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr contain;
    grid-gap: 40px;
  }

  .product-card__image {
    width: 316px;
  }

  .product-card__image {
    width: 260px;
    height: 195px;
  }

  .description_cost_wrapper {
    height: auto;
    justify-content: space-between;
  }
}
