.main-footer {
  background-color: $pink_decoration;
}

.page-footer__logo {
  display: none;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 136px;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    justify-content: center;
  }

  .page-footer__logo img {
    width: 102px;
    height: 34px;
  }

}
