.order-section__wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

.order-section__title {
  display: block;
  width: 100%;
  height: 177px;
  text-align: center;
  padding: 60px 0;
  background-color: $pink_decoration;
}

.order-section__text {
  font-size: 13px;
  margin-bottom: 20px;
}

.order-form__type {
  border: none;
  position: relative;
}

.order-form__color {
  position: relative;
  border: none;

  @media (min-width: $tablet-width) {
    background-color: $pink_decoration;
  }
}

.order-form__fks {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.order-form__telephone {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    background-color: $pink_decoration;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 24px;
    top: 10px;
    right: 0;
    //left: 227px;
    //background-color: red;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      left: 627px;
    }

    @media (min-width: $desktop-width) {
      left: 1010px;
    }
  }

  &:hover {
    &::after {
      opacity: 0.6;
    }
  }
}

.order-form__e-mail {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    background-color: $pink_decoration;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 25px;
    top: 8px;
    right: 0;
    background-image: url("../img/icons/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      left: 620px;
    }

    @media (min-width: $desktop-width) {
      left: auto;
      right: 10px;
    }
  }

  &:hover {
    &::after {
      opacity: 0.6;
    }
  }
}

.order-form__e-mail {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__additional {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.type__wrapper {
  margin: 0;
  padding: 0;
}

.color__wrapper {
  margin: 0;
  padding: 0;
}

.order-form__legend {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $light_tiffany;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-color: $light_tiffany;
    height: 1px;
    width: calc(100vw - 121px);
    left: 62px;
    right: 30px;
    top: 6px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.order-form__legend--position {
  margin: 15px 0;
}

.type__list {
  @include ul-clear;
}

.fks__list {
  @include ul-clear;
}

.type__label {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 60px;
  padding-top: 16px;
  width: 200px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding-left: 80px;
    padding-top: 24px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    border: 2px $brown_border solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    left: 0;
    top: 16px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      height: 52px;
      width: 52px;
      top: 9px;
    }
  }

  &:hover {
    &::before {
      border: 2px #62d1ba solid;
    }
  }

  &:active {
    &::before {
      border: 2px #808080 solid;
    }
  }
}

.type__input:checked + .type__label::after {
  position: absolute;
  content: "";
  display: block;
  background-color: $light_tiffany;
  //border: 2px $brown_border solid;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 14px;
  top: 30px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 22px;
    width: 22px;
    left: 18px;
    top: 26px;
  }
}

.color__label {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 60px;
  padding-top: 16px;
  width: 200px;
  padding-bottom: 14px;

  @media (min-width: $desktop-width) {
    width: 300px;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    border: 2px $brown_border solid;
    height: 40px;
    width: 40px;
    left: 0;
    top: 10px;
    cursor: pointer;
  }

  &:hover {
    &::before {
      border: 2px #62d1ba solid;
    }
  }

  &:active {
    &::before {
      border: 2px #808080 solid;
    }
  }
}

.color__input:checked + .color__label::after {
  position: absolute;
  content: "";
  display: block;
  height: 26px;
  width: 26px;
  left: 10px;
  top: 22px;
  background-image: url("../img/icon-tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.fks__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.fks__input {
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px $black solid;
  margin-bottom: 10px;

  &:hover,
  &:active {
    border-bottom: 2px $tiffany solid;
  }
}

.telephone__input {
  position: relative;
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px $black solid;
  margin-bottom: 10px;

  &:hover,
  &:active {
    border-bottom: 2px $tiffany solid;
  }
}

.e-mail__input {
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px $black solid;
  margin-bottom: 10px;

  &:hover,
  &:active {
    border-bottom: 2px $tiffany solid;
  }
}

.additional__input {
  padding: 0;
  width: 100%;
  height: 142px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border: 2px $black solid;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: column;
    margin-left: 167px;
    width: calc(100vw - 267px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 174px;
    width: 875px;
  }

  &:hover,
  &:active {
    border: 2px #62d1ba solid;
  }
}

.order-form__notes {
  font-size: 14px;
  line-height: 16px;
  color: $brown_border;
  padding-bottom: 15px;
}

.order-form__submit {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-section__text {
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__legend {
    display: box;
    width: 100px;
  }

  .order-form__legend--position {
    position: absolute;
    top: 27px;
    left: 0;
    margin: 0;
  }

  .type__list__wrapper {
    display: flex;
    flex-flow: column;
    margin-left: 167px;
  }

  .type__wrapper {
    margin-bottom: 60px;
  }

  .color--wrapper {
    margin-bottom: 60px;
  }

  .fks__wrapper {
    margin-bottom: 60px;
  }

  .e-mail__wrapper {
    margin-bottom: 60px;
  }

  .additional__wrapper {
    margin-bottom: 40px;
  }

  .color__list__wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 167px;
  }

  .fks__list__wrapper {
    display: flex;
    flex-flow: column;
    margin-left: 167px;
  }

  .telephone__input {
    display: flex;
    flex-flow: column;
    margin-left: 167px;
    background-color: $pink_decoration;
  }

  .e-mail__input {
    display: flex;
    flex-flow: column;
    margin-left: 167px;
    background-color: $pink_decoration;
  }

  .type__item {
    margin-bottom: 20px;
  }

  .fks__item {
    display: flex;
  }

  .fks__label {
    align-self: center;
    padding-right: 27px;
  }

  .telephone__input {
    width: calc(100vw - 266px);
  }

  .e-mail__input {
    width: calc(100vw - 266px);
  }

  .order-form__submit {
    width: 230px;
  }

  .submit__wrapper {
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .order-form__notes {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .order-section__text {
    margin-left: 174px;
  }

  .type__list__wrapper {
    margin-left: 174px;
  }

  .color__list__wrapper {
    margin-left: 174px;
  }

  .fks__list__wrapper {
    margin-left: 174px;
  }

  .telephone__input {
    margin-left: 174px;
    width: 875px;
  }

  .e-mail__input {
    margin-left: 174px;
    width: 875px;
  }

  .order-form__legend--position {
    left: 62px;
  }
}
