.page-header {
  background-color: $white;
}

.page-navigation-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;

  //@include outline(green);
}

.page-header__logo {
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 42px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin: 0 auto;
  }
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}

.page-header__button {
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  border: none;
  z-index: 2;
  cursor: pointer;
  background-color: $white;

  &--open {
    background-image: (url("../img/icon-menu-close.svg"));
  }

  &--closed {
    background-image: (url("../img/icon-menu-open.svg"))
  }
}

@media (max-width: ($tablet-width - 1)) {
  .bonus-list {
    display: none;
  }

  .site-list__description {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__button {
    display: none;
  }

  .span-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .site-list__search {
    width: 60px;
  }

  .page-header__logo-wrapper {
    order: 1;
    height: 88px;
    width: 50%;
    // margin-right: 190px;
  }

  .site-list {
    order: 3;
    flex-flow: row;
  }

  .user-list {
    order: 2;
    flex-flow: row;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .bonus-list {
    display: none;
    order: 4;
  }

  .site-list__description {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-wrapper {
    order: 2;
    flex-grow: 1;
    width: 105px;
  }

  .site-list {
    order: 1;
    flex-flow: row;
  }

  .user-list {
    order: 3;
    flex-flow: row;
  }

  .bonus-list {
    display: flex;
    flex-flow: row;
    order: 4;
  }

  .site-list__description {
    line-height: 20px;
    order: 5;
  }
}
